@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Bem Vindo</h1>
    <h1 class="display-5">Painel Anti-Stress</h1>

    <div class="row container" >
        <vc:youtube1-view-component></vc:youtube1-view-component>
        <vc:youtube2-view-component></vc:youtube2-view-component>        
    </div>
        
    <div class="row container">
        <vc:google1-view-component></vc:google1-view-component>
    </div>
</div>
