@using ProjetoPainelYoutube.Components

@model Youtube2ViewComponent

<div class="m-2">
    <div class="row card border-danger col-sm m-1">        
        <img src="~/image/vitas.jpg" width="200" height="200" class="m-0"/>
        <a href="@Model.Link2" target="_blank">Vitas Dorgas</a>
    </div>
</div>











