@using ProjetoPainelYoutube.Components

@model Youtube1ViewComponent

<div class="m-2">
    <div class="row card border-danger col-sm m-1">
        <img src="~/image/dog.jpg"  width="200" height="200" class="m-0"/>
        <a href="@Model.Link1" target="_blank">Cachorrin FDP</a>
    </div>
</div>










