@using ProjetoPainelYoutube.Components

@model Google1ViewComponent

<div class="m-2">
    <div class="row card border-danger col-sm m-1">        
        <img src="" width="200" height="200" class="m-0"/>
        <a href="@Model.Google1" target="_blank">Mapa</a>
    </div>
</div>











